<div class="modal-content">
    <form name="SeguroForm">
        <div class="modal-header bootstrap-dialog-draggable">
            <div class="bootstrap-dialog-header">
                <div class="bootstrap-dialog-close-button" style="display: block;">
                    <button type="button" class="close" ng-click="close()">×</button>
                </div>
                <div class="bootstrap-dialog-title"><H1>{{Seguro.Nombre}}</H1></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="bootstrap-dialog-body">
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Descripcion</label>
                    <div class="col-10">
                        <input class="form-control" type="text" ng-model="Seguro.Descripcion">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Tipo de Cubrimiento</label>
                    <div class="col-10">
                        <input class="form-control" type="text" ng-model="Seguro.Cubrimiento">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Procentaje de Cobertura</label>
                    <div class="col-10 input-group mb-2 mr-sm-2 mb-sm-0">
                        <input class="form-control" type="number" ng-model="Seguro.Cobertura" step=".01">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Fecha Inicio</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="{{Seguro.FechaInicio | date:'yyyy-MM-dd'}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Periodo de Cobertura</label>
                    <div class="col-10">
                        <input class="form-control" type="number" ng-model="Seguro.Meses">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Precio</label>
                    <div class="col-10">
                        <input class="form-control" type="number" ng-model="Seguro.Precio">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Tipo Riesgo</label>
                    <div class="col-10">
                        <ul>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" ng-model="Seguro.Riesgo" aria-expanded="false">{{selected.Riesgo}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="x in TipoRiesgos" ng-click="cambiarRiesgo(x)"><a>{{x.Riesgo}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Cliente</label>
                    <div class="col-10">
                        <ul>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" ng-model="Seguro.ClienteAsociado" aria-expanded="false">{{selectedCliente.Nombre}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="x in Clientes" ng-click="cambiarCliente(x)"><a>{{x.Nombre}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <div class="bootstrap-dialog-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button class="btn btn-first btn-primary btn-sm" ng-click="PutSeguro()">Save</button>
                    </div>
                </div>
            </div>
</form>
</div>
