<div class="container-fluid table-responsive">
    <button class="btn btn-secondary pull-right" ng-click="crearSeguro()"><span class="glyphicon glyphicon-plus"></span> Crear Seguro</button>
</div>
<div class="container-fluid table-responsive">
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Nombre Seguro</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in datos.seguros.datos">
                <td><a style="cursor: pointer" ng-click="abrirSeguro(x)">{{x.Nombre }}</a></td>
                <td><span class="glyphicon glyphicon-trash" ng-click="DeleteApicall(x.Id)"></span></td>
            </tr>
        </tbody>
    </table>
</div>